* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    // font-family:     ;
}

:root {
    --bg-color: #081b29;
    --main-color: #00abf0;
    --text-color: #333;
    --second-text-color: #555;
    --white-color: #fff;
    --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
    --pages-color: linear-gradient(90deg, #fff, #ddd);
    --border: .125rem solid #00abf0;
    --box-shadow: 0 0 .6rem rgba(0, 0, 0, .2);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--bg-color);
    color: var(--text-color);
    overflow: hidden;
}

.wrapper {
    position: relative;
    width: 66rem;
    height: 45rem;
    padding: 2rem;
    perspective: 250rem;
    animation: show-animate 2s forwards;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 1s ease-in-out;
    border-radius: .6rem;

    .cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
        border: 1px solid mix(black, $primary, 50%);
        border-top-left-radius: .6rem;
        border-bottom-left-radius: .6rem;
        transform-origin: right;
    }
}

@keyframes show-animate {

    0%,
    30% {
        opacity: 0;
        transform: rotate(-20deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}

.cover.cover-left {
    z-index: -1;
    //    left: px;
    transition: box-shadow 1s ease-in-out;
}

.cover.cover-right {
    z-index: 100;
    //    left: 1px;
    transition: transform 1s cubic-bezier(.645, .045, .355, 1), box-shadow 1s ease-in-out;
}

.cover.cover-right.turn {
    transform: rotateY(180deg);
}

.book {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    perspective: 250rem;

    .book-page {
        position: absolute;
        width: 50%;
        height: 100%;
        background: rgb(230, 230, 230);
        box-shadow: 0 0 .6rem rgba(0, 0, 0, 0.5);
        display: flex;
        padding: 2rem;

        .page-front,
        .page-back {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid black;
            padding: 1.5rem 2rem;
        }

        .page-front {
            transform: rotateY(0deg);
            display: flex;
            flex-direction: column;

            img {
                max-height: 15rem;
            }
        }

        .page-back {
            transform: rotateY(180deg) translateZ(1px);
            background: rgb(225, 225, 225);
            right: 5px;

        }
    }

    .book-page.page-left {
        background: transparent;
        box-shadow: none;
        left: -5px;
        // border: 1px solid black;

        .profile-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            img {
                max-width: 180px;
                border-radius: 50%;
                border: .25rem solid black;
                margin-bottom: .8rem;
            }

            h1 {
                font-size: 2.5rem;
                line-height: 1;
                width: 20rem;
                text-align: center;
                color: black;
            }

            h2 {
                font-size: 2rem;
                color: white;
            }

            p {
                text-align: justify;
                color: black;
            }

            .social-media {
                margin: .6rem 0 .8rem;

                a {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 2.5rem;
                    height: 2.5rem;
                    background: transparent;
                    border: 2px solid white;
                    border-radius: 50%;
                    font-size: 1.3rem;
                    color: white;
                    margin: 0 .2rem;
                    transition: .5s;
                }

                a:hover {
                    background: white;
                    color: $primary;
                }
            }

            .btn-box {
                margin-top: 1.2rem;
                display: flex;

                .btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 9.5rem;
                    height: 4rem;
                    background-color: $primary;
                    border: 3px solid $primary;
                    border-radius: .3rem;
                    font-size: 1rem;
                    color: white;
                    font-weight: 500;
                    margin: 0 1rem;
                    transition: .5s;
                }

                .btn:hover {
                    background: white;
                    box-shadow: $base-box-shadow;
                    color: $primary;
                }

                .btn:nth-child(1) {
                    text-align: center;
                }
            }
        }
    }

    .book-page.page-right {
        position: absolute;
        right: -5px;
        transform-style: preserve-3d;
        transform-origin: left;
        transition: transform 1s cubic-bezier(.645, .045, .355, 1), right 1s ease-in-out;
    }

    .book-page.page-right.turn {
        transform: rotateY(-180deg) translateZ(1px);
        right: 5px;
    }
}

.title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.workeduc-box {
    border-left: var(--border);
}

.workeduc-box .workeduc-content {
    position: relative;
    padding-left: 1.6rem;
    margin-bottom: 1.2rem;
}

.workeduc-box .workeduc-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -0.65rem;
    width: 1.2rem;
    height: 1.2rem;
    background: var(--main-color);
    border-radius: 50%;
}

.workeduc-content .year {
    color: var(--main-color);
}

.workeduc-content .year i {
    margin-right: .4rem;
}

.number-page {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.nextprev-btn {
    position: absolute;
    bottom: .9rem;
    right: 1.5rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    font-size: 2rem;
    color: var(--second-text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.nextprev-btn:hover {
    color: var(--main-color);
}

.nextprev-btn.back {
    left: 1.5rem;
}

.services-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .services-content {
        flex: 1 1 10rem;
        border: 3px dotted $primary;
        border-radius: .5rem;
        padding: .8rem .5rem 1.1rem;
        text-align: center;
        transition: .3s ease;
        height: 15rem;

        i {
            font-size: 2.5rem;
            color: var(--main-color);
        }

        img {
            color: $primary;
        }

        h3 {
            font-size: 1.1rem;
        }

        p {
            margin: .2rem 0 .2rem 0;
        }
    }

    .services-content:hover {
        box-shadow: $base-box-shadow;
        border: 3px solid $primary;
    }

    .services-content .btn {
        width: 8rem;
        height: 2.5rem;
    }

}


.skills-box {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;

    .skills-content {

        flex: 1 1 20rem;

        .content {
            display: flex;
            flex-wrap: wrap;
            gap: .8rem;

            span {
                display: inline-flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 6rem;
                height: 5rem;
                border: var(--border);
                border-radius: .3rem;
                font-weight: 600;
                transition: 0.3s ease;

                i {
                    font-size: 3rem;
                    color: var(--main-color);
                }
            }

            span:hover {
                box-shadow: var(--box-shadow);
            }
        }

        h3 {
            font-size: 1.3rem;
            line-height: 1;
            margin-bottom: .6rem;
        }

    }
}

.portfolio-box {
    border: $borderTest1;
    display: flex;
    flex-direction: column;
    align-items: center;

    // a {
    //     display: flex;
    //     color: var(--main-color);
    //     font-size: 1.5rem;

    // }

    .img-box {
        display: flex;
        width: 350px;
        height: 10rem;
        border: var(--border);
        border-radius: .5rem;
        overflow: hidden;
        justify-self: center;

        img {
            width: 100%;
            height: 100%;
            transition: .5s ease;
            margin: 0 auto;
        }
    }

    .img-box-vertical {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: row;
        width: 100%;
        height: 15rem;
        border-radius: .5rem;

        overflow: visible;

        .screenshot-vertical {
            display: flex;
            width: 220px;
            height: 15rem;
            border-radius: .5rem;
            transition: 1s ease;

            img {
                border-radius: .5rem;
                border: var(--border);
                transition: 1s ease;
            }


        }

        .screenshot-vertical img:hover {
            transform: scale(1.1);

        }

        .vertical {
            display: flex;
            justify-content: space-around;

            flex-direction: column;
            width: 100%;
            height: 15rem;
            border-radius: .5rem;
            overflow: hidden;

            p {
                margin: 0 20px;
                padding: 10px;
                text-align: center;
                background-color: lightgray;
                border-radius: .6rem;
            }

            .portfolio-box .info-title a i {
                margin-left: .7rem;

            }

            .btn-box {
                display: flex;
                justify-content: end;

                .btn {
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: 9.5rem;
                    height: 4rem;
                    background-color: $primary;
                    border: 3px solid $primary;
                    border-radius: .3rem;
                    font-size: .75rem;
                    color: white;
                    font-weight: 500;
                    margin: 0 1rem;
                    transition: .5s;
                }

                .btn:hover {
                    background: transparent;
                    box-shadow: $base-box-shadow;
                    color: $primary;
                }
            }
        }

    }
}

#piano-embedded {
    .text-box {
        p {
            text-align: center;
            text-indent: 0px;

            a {
                margin: 20px auto;
            }
        }
    }

    .card {
        .card-body {
            width: 480px;

            iframe {
                margin-top: -10rem;
                margin-left: -360px;
                transform: scale(0.4);
                width: 1200px;
                height: 32rem;
            }
        }
    }
}

#full-responsive-web {
    .card {
        height: 16rem;

        .card-body {
            img {
                height: 13.2rem;
            }
        }
    }
}

#galeria-ecommerce {
    h3 {
        font-size: 1.5rem;
        width: 100%;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
    }

    .imagen-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        a {

            width: 80%;
            margin-bottom: 5px;

            img {
                border-radius: .5rem;
                border: var(--border);
                transition: 1s ease;
            }

            img:hover {
                transform: scale(1.03);
                box-shadow: $base-box-shadow;
            }
        }
    }

}

#spellbook-page,
#spellbook-page-2 {
    .card {
        height: 32rem;

        .card-body {
            height: 31rem;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            a {
                img {
                    height: 30rem;
                    max-height: 30rem;
                    border: 1px solid red;
                }
            }

            .btn-box {

                width: 200px;
                margin-left: 5px;
                display: flex;
                flex-direction: column;

                .main-p {
                    border: 3px dotted gray;
                    text-align: center;
                }

                .left-pointer {
                    font-size: 2rem;
                    font-weight: 900;
                    letter-spacing: -7px;

                    span {
                        font-size: 3rem;

                        font-weight: 600;
                        position: relative;
                        top: 6px;
                        left: 10px;
                    }
                }

                p {
                    line-height: 1rem;
                    text-align: left;
                    font-size: .8rem;
                }

                .icon-spell {
                    height: 40px;
                    width: 40px;
                    margin: 0px auto;
                }

                .icon-spell:hover {
                    border: 2px solid gray;
                    box-shadow: none;
                    box-sizing: border-box;
                    transform: scale(1);
                }
            }
        }
    }
}

#spellbook-page-2 .card .card-body .btn-box {
    width: 170px;
    margin-left: 10px;

    p {
        text-align: center;
    }

    .mago-natural {
        visibility: hidden;
        color: $primary;
        font-size: 1rem;
        text-shadow: 1px 1px 1px gray;
    }
}

.cast-spells {
    border: 2px black solid;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    margin: 0px auto;
    width: 120px;
    height: 120px;
    animation: borderAnimation 3s linear infinite;

    img {
        transform: scale(1);
        width: 100%;
        height: 100%;
    }
}

.casted-spell {
    background-image: url("../images/water-template.png");
    background-size: cover;
    background-repeat: no-repeat;
    animation: slidein2 10s, slidein-yellow 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
    top: 20%;
    left: 50%;
    /* Centrar horizontalmente */
    transform: translateX(-50%);
    /* Centrar horizontalmente */
    width: 300px;
    height: 250px;
    border: 2px solid green;
    border-radius: 10px;
    overflow: hidden;

    button {
        height: 25px;
        width: 25px;
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: 15;
        font-size: 10px;
    }
}

.image-description {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: bolder;
    text-shadow: 1px 1px 4px white, 1px 1px 4px white, 1px 1px 4px white;
    font-family: "Source Code Pro", monospace;
    overflow: auto;
    padding: 10px;
}

/* Animación del borde en movimiento */
@keyframes borderAnimation {
    0% {
        border: 5px red solid;
        box-shadow: 0px 0px 20px rgb(255, 0, 43);
        transform: rotate(40deg);
    }

    25% {
        border: 12px black double;
        box-shadow: 0px 0px 20px rgb(21, 0, 255);
    }

    50% {
        border: 20px rgba(255, 255, 255, 0.364) double;
        box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.471);
        transform: rotate(-80deg);
    }

    75% {
        border: 12px black double;
        box-shadow: 0px 0px 20px rgb(255, 0, 230);
    }

    100% {
        border: 5px rgb(255, 0, 0) double;
        box-shadow: 0px 0px 20px rgb(255, 0, 43);
        transform: rotate(39deg);
    }
}


.text-box {
    p {
        text-indent: 30px;
        text-align: justify;
    }
}

// --->> Pagina de Libreria sass - INICIO
#libreria-sass {
    .card {
        .card-body {
            img {
                height: 14rem;
            }
        }
    }
}


#piedra-papel-tijera {
    .card {
        display: flex;
        flex-direction: row;

        .btn-box {
            display: flex;
            flex-direction: column;
            width: 60%;
            height: 15rem;
            margin-left: 10px;
            text-align: center;
            align-items: center;

            p {
                border: 2px dotted gray;
            }

            a {
                margin-top: 1rem;
            }
        }
    }
}

.jugar-btn {
    font-size: 2rem;
    color: white;
    border-radius: .6rem;
    border: 1px solid gray;
    transition: 1s ease-in-out;
    padding: 4px 8px;
    width: 150px;
    height: 60px;

}

.jugar-btn:hover {
    border: 1px solid black;
    box-shadow: 5px 5px 5px gray;
    background-color: mix(green, white, 40%);
    color: white;
}

#ajedrez-animado-page {
    .card {
        grid-template-rows: 75% 25%;

        .card-body {
            display: flex;
            justify-content: center;
            height: 12rem;

            img {
                height: 12rem;
                margin: 0px auto;
            }
        }
    }
}

#juego-memoria-page {
    .card {
        grid-template-rows: 75% 25%;

        .card-body {
            display: flex;
            justify-content: center;

            iframe {
                position: relative;
                height: 24rem;
                width: 500px;
                transform: scale(0.7);
                margin-top: -85px;
                margin-left: 50px;
            }
        }
    }
}

#indice-proyectos {
    ul {

        li {
            border-radius: .6rem;
            display: flex;
            flex-direction: column;

            margin-bottom: 3px;
            cursor: pointer;
            transition: 0.5s ease-in-out;
            padding: 3px 10px;

            p {
                font-size: 0.75rem;

                span {
                    font-size: 1.1rem;
                    font-weight: 600;
                }
            }

            p:nth-child(1) {
                display: inline-flex;
                justify-content: space-between;
                font-size: 1.1rem;
            }
        }

        li:hover {
            box-shadow: 1px 1px 4px rgb(65, 65, 65);
            
            
            border-radius: .6rem;
        }

    }
}








.portfolio-box .info-box {
    margin: 1rem 0 1.5rem;

    .info-title {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1rem;

        h3 {
            font-size: 1.3rem;
        }

        a {
            display: flex;
            align-items: center;
            color: var(--main-color);
        }
    }

    p {
        text-align: justify;
    }

    ;
}



.portfolio-box .info-title a i {
    margin-left: .3rem;

}

// .portfolio-box .info-box p:nth-of-type(1) {
//     font-weight: 600;
// }

.portfolio-box .btn-box {
    display: flex;
    justify-content: center;
}



.contact-box {
    text-align: center;
}

.contact-box .field {
    width: 100%;
    background: transparent;
    border: var(--border);
    border-radius: .3rem;
    padding: .8rem;
    font-size: 1rem;
    color: var(--text-color);
    margin-bottom: 1.5rem;
}

.contact-box .field::placeholder {
    color: var(--text-color);
}

.contact-box textarea {
    resize: none;
    height: 15rem;
}

.contact-box .btn-outlined-primary {
    cursor: pointer;
    transition: 1s ease-in-out;
}

.contact-box .btn-outlined-primary:hover {
    color: white;
    box-shadow: 2px 2px 2px gray;
}

.back-profile {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: 2px solid $primary;
    border-radius: .3rem;
    font-size: 1.1rem;
    color: $primary;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.back-profile:hover {
    background: $primary;
    color: var(--white-color);
}

.back-profile p {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scale(.5);
    font-size: 1.25rem;
    color: $primary;
    opacity: 0;
    transition: .5s;
}

.back-profile:hover p {
    opacity: 1;
    transform: translateX(-50%) scale(1);
    top: -2.2rem;
}